
footer{
    padding-top: 20px;
}

section{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.gif{
    position: absolute;
    left:50%; 
	top: 20%; 
	transform:translate(-50%,-50%);
    z-index: -1;
    
}

.contact{
    border: 3px solid rgb(29, 29, 29);
    border-radius: 10px;
    margin-top: 50px;
}

.list{
    display: inline-block;
    text-align: left;
}

.button{
    padding: 10px;
    background-color: rgb(19, 83, 110);
    border-radius: 5px;
    
    text-decoration: none;
    color: antiquewhite;
}

.body{
    text-align: center;
}

.mainRubrik{
    font-size: 80px;
    position: relative;
    font-weight: bold;
    padding-top: 110px;
}

